.fadex-enter {
    opacity: 0.01;
}

.fadex-enter.fadex-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fadex-exit {
    opacity: 1;
}

.fadex-exit.fadex-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

div.transition-group {
    position: relative;
}

section.route-section {
 position: absolute;
 width: 100%;
 top: 0;
 left: 0;
}